In [11]:
import pandas as pd

cal_house_model1 = pd.read_csv("sprint5/cal_house_model1.csv")
cal_house_model2 = pd.read_csv("sprint5/cal_house_model2.csv")
cal_house_model3 = pd.read_csv("sprint5/cal_house_model3.csv")

def clean_df(df):
    df.columns = df.iloc[0]
    df = df.drop(df.index[0]) # drop first row
    df_clean = df.drop(df.columns[0], axis=1) # drop first col
    return df_clean

def add_col(df,col_name,value):
    df[col_name] = value
    return df

def col_types(df):
    df["num_pit_samples"] = df["num_pit_samples"].astype(int) 
    df["take_num_samples_when_full"] = df["take_num_samples_when_full"].astype(int) 
    df["normal_backtransform"] = df["normal_backtransform"].astype(bool)
    df["trainable_bandwidths"] = df["trainable_bandwidths"].astype(bool)
    return df


cal_house_model1 = clean_df(cal_house_model1)
cal_house_model2 = clean_df(cal_house_model2)
cal_house_model3 = clean_df(cal_house_model3)

cal_house = pd.concat([cal_house_model1, cal_house_model2, cal_house_model3], ignore_index=True)

cal_house['mae'] = cal_house['mae'].astype(float)
cal_house['r2'] = cal_house['r2'].astype(float)
#cal_house = col_types(cal_house)

cal_house = add_col(cal_house,"task_type","regression")
cal_house = add_col(cal_house,"num_classes",-1)
cal_house = add_col(cal_house,"dataset","cal_house")

min_mae = cal_house["mae"].min()
max_mae = cal_house["mae"].max()
min_r2, max_r2 = cal_house["r2"].min(), cal_house["r2"].max()

cal_house['normalized_mae'] = 1 - (cal_house['mae'] -min_mae) / (max_mae - min_mae)
cal_house['normalized_R2'] = (cal_house['r2'] - min_r2) / (max_r2 - min_r2)

cal_house["error"] = (cal_house["normalized_mae"]+cal_house["normalized_R2"])/2

cal_house = cal_house.drop(["mae","r2","normalized_mae","normalized_R2"],axis=1)
cal_house["number_features"] = 8
cal_house["instances"] = 20640
print(cal_house.dtypes)

cal_house.head()

0
num_pit_samples                object
take_num_samples_when_full     object
normal_backtransform           object
trainable_bandwidths           object
model_id                       object
task_type                      object
num_classes                     int64
dataset                        object
error                         float64
number_features                 int64
instances                       int64
dtype: object

,num_pit_samples,take_num_samples_when_full,normal_backtransform,trainable_bandwidths,model_id,task_type,num_classes,dataset,error,number_features,instances
0,50,0,True,True,model 1,regression,-1,cal_house,0.974109,8,20640
1,50,0,True,False,model 1,regression,-1,cal_house,0.980228,8,20640
2,50,0,False,True,model 1,regression,-1,cal_house,0.864824,8,20640
3,50,0,False,False,model 1,regression,-1,cal_house,0.970828,8,20640
4,50,1,True,True,model 1,regression,-1,cal_house,0.853461,8,20640

In [12]:

aids_model4 = pd.read_csv("idas data/aids4.csv")
aids_model5 = pd.read_csv("idas data/aids5.csv")
aids_model6 = pd.read_csv("idas data/aids6.csv")

def clean_df2(df):
    df.columns = df.iloc[0]
    df_clean = df.drop(df.index[0]) # drop first row
    return df_clean

def add_col(df,col_name,value):
    df[col_name] = value
    return df

aids_model4 = clean_df2(aids_model4)
aids_model5 = clean_df2(aids_model5)
aids_model6 = clean_df2(aids_model6)
aids = pd.concat([aids_model4, aids_model5, aids_model6], ignore_index=True)

aids = add_col(aids,"task_type","classification")
aids = add_col(aids,"num_classes",2)
aids = add_col(aids,"dataset","aids")

aids["accuracy"] = aids["accuracy"].astype(float)
aids["f1"] = aids["f1"].astype(float)

#aids = col_types(aids)

min_f1, max_f1 = aids["f1"].min(), aids["f1"].max()
min_acc, max_acc = aids["accuracy"].min(), aids["accuracy"].max()

aids["normalized_accuracy"] = (aids["accuracy"] - 0.5) / (1 - 0.5)
aids['normalized_F1'] = (aids['f1'] - min_f1) / (max_f1 - min_f1)

aids["error"] = (aids["normalized_accuracy"]+aids["normalized_F1"])/2

aids = aids.drop(["accuracy","f1","normalized_F1","normalized_accuracy"],axis=1)
aids["number_features"] = 22
aids["instances"] = 2139
aids.head()

,num_pit_samples,take_num_samples_when_full,normal_backtransform,trainable_bandwidths,model_id,task_type,num_classes,dataset,error,number_features,instances
0,50,0,True,True,model 4,classification,2,aids,0.787199,22,2139
1,50,0,True,False,model 4,classification,2,aids,0.802909,22,2139
2,50,0,False,True,model 4,classification,2,aids,0.850259,22,2139
3,50,0,False,False,model 4,classification,2,aids,0.840193,22,2139
4,50,1,True,True,model 4,classification,2,aids,0.822218,22,2139

In [13]:
bank_model4 = pd.read_csv("idas data/bank4.csv")
bank_model5 = pd.read_csv("idas data/bank5.csv")
bank_model6 = pd.read_csv("idas data/bank6.csv")


def clean_df2(df):
    df.columns = df.iloc[0]
    df_clean = df.drop(df.index[0]) # drop first row
    return df_clean

def add_col(df,col_name,value):
    df[col_name] = value
    return df


bank_model4 = clean_df2(bank_model4)
bank_model5 = clean_df2(bank_model5)
bank_model6 = clean_df2(bank_model6)
bank = pd.concat([bank_model4, bank_model5, bank_model6], ignore_index=True)


bank = add_col(bank,"task_type","classification")
bank = add_col(bank,"num_classes",2)
bank = add_col(bank,"dataset","bank")
#bank = col_types(bank)
bank["accuracy"] = bank["accuracy"].astype(float)
bank["f1"] = bank["f1"].astype(float)

min_f1, max_f1 = bank["f1"].min(), bank["f1"].max()
min_acc, max_acc = bank["accuracy"].min(), bank["accuracy"].max()

bank["normalized_accuracy"] = (bank["accuracy"] - 0.5) / (1 - 0.5)
bank['normalized_F1'] = (bank['f1'] - min_f1) / (max_f1 - min_f1)

bank["error"] = (bank["normalized_accuracy"]+bank["normalized_F1"])/2

bank = bank.drop(["accuracy","f1","normalized_F1","normalized_accuracy"],axis=1)
bank["number_features"] = 95
bank["instances"] = 6819
bank.head()

,num_pit_samples,take_num_samples_when_full,normal_backtransform,trainable_bandwidths,model_id,task_type,num_classes,dataset,error,number_features,instances
0,50,0,True,True,model 4,classification,2,bank,0.834510,95,6819
1,50,0,True,False,model 4,classification,2,bank,0.738188,95,6819
2,50,0,False,True,model 4,classification,2,bank,0.862204,95,6819
3,50,0,False,False,model 4,classification,2,bank,0.850766,95,6819
4,50,1,True,True,model 4,classification,2,bank,0.678119,95,6819

In [14]:

magic_model1 = pd.read_csv("sprint7/magic_model1.csv")
magic_model2 = pd.read_csv("sprint7/magic_model2.csv")
magic_model3 = pd.read_csv("sprint7/magic_model3.csv")


magic_model1 = clean_df(magic_model1)
magic_model2 = clean_df(magic_model2)
magic_model3 = clean_df(magic_model3)

magic = pd.concat([magic_model1, magic_model2, magic_model3], ignore_index=True)

#magic = col_types(magic)
magic = add_col(magic,"task_type","classification")
magic = add_col(magic,"num_classes",2)
magic = add_col(magic,"dataset","magic")

magic["accuracy"] = magic["accuracy"].astype(float)
magic["precision"] = magic["precision"].astype(float)

min_acc, max_acc = magic["accuracy"].min(), magic["accuracy"].max()
min_prec, max_prec = magic["precision"].min(), magic["precision"].max()
magic['normalized_Precision'] = (magic['precision'] - min_prec) / (max_prec - min_prec)
magic["normalized_accuracy"] = (magic["accuracy"] - 0.5) / (1 - 0.5)
magic["error"] = (magic["normalized_accuracy"]+magic["normalized_Precision"])/2

magic = magic.drop(["accuracy","precision","normalized_Precision","normalized_accuracy"],axis=1)
magic["number_features"] = 10
magic["instances"] = 19020
magic.head()

,num_pit_samples,take_num_samples_when_full,normal_backtransform,trainable_bandwidths,model_id,task_type,num_classes,dataset,error,number_features,instances
0,50,0,True,True,model 1,classification,2,magic,0.809500,10,19020
1,50,0,True,False,model 1,classification,2,magic,0.672079,10,19020
2,50,0,False,True,model 1,classification,2,magic,0.769139,10,19020
3,50,0,False,False,model 1,classification,2,magic,0.711613,10,19020
4,50,1,True,True,model 1,classification,2,magic,0.745860,10,19020

In [15]:
import pandas as pd

temp_model1 = pd.read_csv("temp_model1.csv")
temp_model2 = pd.read_csv("temp_model2.csv")
temp_model3 = pd.read_csv("temp_model3.csv")

def clean_df(df):
    df.columns = df.iloc[0]
    df = df.drop(df.index[0]) # drop first row
    df_clean = df.drop(df.columns[0], axis=1) # drop first col
    return df_clean

def add_col(df,col_name,value):
    df[col_name] = value
    return df

def col_types(df):
    df["num_pit_samples"] = df["num_pit_samples"].astype(int) 
    df["take_num_samples_when_full"] = df["take_num_samples_when_full"].astype(int) 
    df["normal_backtransform"] = df["normal_backtransform"].astype(bool)
    df["trainable_bandwidths"] = df["trainable_bandwidths"].astype(bool)
    return df


temp_model1 = clean_df(temp_model1)
temp_model2 = clean_df(temp_model2)
temp_model3 = clean_df(temp_model3)

temp = pd.concat([temp_model1, temp_model2, temp_model3], ignore_index=True)

temp['mae'] = temp['mae'].astype(float)
temp['r2'] = temp['r2'].astype(float)
#cal_house = col_types(cal_house)

temp = add_col(temp,"task_type","regression")
temp = add_col(temp,"num_classes",-1)
temp = add_col(temp,"dataset","temp")

min_mae = temp["mae"].min()
max_mae = temp["mae"].max()
min_r2, max_r2 = temp["r2"].min(), temp["r2"].max()

temp['normalized_mae'] = 1 - (temp['mae'] -min_mae) / (max_mae - min_mae)
temp['normalized_R2'] = (temp['r2'] - min_r2) / (max_r2 - min_r2)

temp["error"] = (temp["normalized_mae"]+temp["normalized_R2"])/2

temp = temp.drop(["mae","r2","normalized_mae","normalized_R2"],axis=1)
temp["number_features"] = 33
temp["instances"] = 1018
print(temp.shape)

temp.head()

(432, 11)

,num_pit_samples,take_num_samples_when_full,normal_backtransform,trainable_bandwidth,model_id,task_type,num_classes,dataset,error,number_features,instances
0,50,0,True,True,model 1,regression,-1,temp,0.961558,33,1018
1,50,0,True,False,model 1,regression,-1,temp,0.949484,33,1018
2,50,0,False,True,model 1,regression,-1,temp,0.945414,33,1018
3,50,0,False,False,model 1,regression,-1,temp,0.931266,33,1018
4,50,1,True,True,model 1,regression,-1,temp,0.909767,33,1018

In [ ]:
everything = pd.concat([cal_house,bank,aids,magic,temp],ignore_index=True)
everything.to_csv("everything.csv")

In [2]:
import pandas as pd

conductivity_model1 = pd.read_csv("conductivity4.csv")
conductivity_model2 = pd.read_csv("conductivity5.csv")
conductivity_model3 = pd.read_csv("conductivity6.csv")

def clean_df(df):
    df.columns = df.iloc[0]
    df_clean = df.drop(df.index[0]) # drop first row
    return df_clean

def add_col(df,col_name,value):
    df[col_name] = value
    return df

def col_types(df):
    df["num_pit_samples"] = df["num_pit_samples"].astype(int) 
    df["take_num_samples_when_full"] = df["take_num_samples_when_full"].astype(int) 
    df["normal_backtransform"] = df["normal_backtransform"].astype(bool)
    df["trainable_bandwidths"] = df["trainable_bandwidths"].astype(bool)
    return df


conductivity_model1 = clean_df(conductivity_model1)
conductivity_model2 = clean_df(conductivity_model2)
conductivity_model3 = clean_df(conductivity_model3)

conductivity = pd.concat([conductivity_model1, conductivity_model2, conductivity_model3], ignore_index=True)

conductivity['mae'] = conductivity['mae'].astype(float)
conductivity['r2'] = conductivity['r2'].astype(float)

conductivity = add_col(conductivity,"task_type","regression")
conductivity = add_col(conductivity,"num_classes",-1)
conductivity = add_col(conductivity,"dataset","conductivity")

min_mae = conductivity["mae"].min()
max_mae = conductivity["mae"].max()
min_r2, max_r2 = conductivity["r2"].min(), conductivity["r2"].max()

conductivity['normalized_mae'] = 1 - (conductivity['mae'] -min_mae) / (max_mae - min_mae)
conductivity['normalized_R2'] = (conductivity['r2'] - min_r2) / (max_r2 - min_r2)

conductivity["error"] = (conductivity["normalized_mae"]+conductivity["normalized_R2"])/2

conductivity = conductivity.drop(["mae","r2","normalized_mae","normalized_R2"],axis=1)
conductivity["number_features"] = 80
conductivity["instances"] = 21263

col_types(conductivity)

conductivity.head()

,num_pit_samples,take_num_samples_when_full,normal_backtransform,trainable_bandwidths,model_id,task_type,num_classes,dataset,error,number_features,instances
0,1000,0,True,True,model 4,regression,-1,conductivity,0.239183,80,21263
1,1000,0,True,True,model 4,regression,-1,conductivity,0.256939,80,21263
2,1000,0,True,True,model 4,regression,-1,conductivity,0.222914,80,21263
3,1000,0,True,True,model 4,regression,-1,conductivity,0.246775,80,21263
4,1000,1,True,True,model 4,regression,-1,conductivity,0.220296,80,21263

In [10]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

everything_df = pd.read_csv('everything.csv')

everything_clean = everything_df.drop(everything_df.columns[0], axis=1) # drop first col
everything = pd.concat([everything_clean,conductivity],ignore_index=True)

# ANOVA formula
# formula = 'error ~  C(take_num_samples_when_full) + C(trainable_bandwidths)'
formula = 'error ~  C(task_type) + C(model_id) + C(num_classes) + C(dataset) + C(number_features) + C(instances)'
# formula = 'error ~  C(model_id) + C(num_pit_samples) + C(trainable_bandwidths)'
# Fit the model
model = ols(formula, data=everything).fit()


# Perform ANOVA
anova_table = sm.stats.anova_lm(model, typ=2)

# Print the ANOVA table
print(anova_table)

                                   sum_sq      df          F        PR(>F)
C(take_num_samples_when_full)    1.713081     5.0    7.54248  4.839485e-07
C(trainable_bandwidths)          5.371628     1.0  118.25300  5.798502e-27
Residual                       117.423309  2585.0        NaN           NaN